
<form class="form"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="question-form"
      method="post">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Write us your question')) ?></span></legend><br />
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Training\Question\Helper\Data::class)->getPostValue('name'))?>" class="input-text" type="text"/>
            </div>
        </div>
        <div class="field content">
            <label class="label" for="content"><span><?= $block->escapeHtml(__('Your question')) ?></span></label>
            <div class="control">
                <textarea name="content" id="content" title="<?= $block->escapeHtmlAttr(__('Your question')) ?>" class="input-text" cols="5" rows="3" ><?= $block->escapeHtml($this->helper(\Training\Question\Helper\Data::class)->getPostValue('content')) ?></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Send')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Send')) ?></span>
            </button>
        </div>
    </div>
</form>
