<?php $questions = $block->getQuestions(); ?>
<div>
    <button><a href="<?=$this->getUrl('question/question/form')?>"><?= $block->escapeHtml(__('Write a question')); ?></a></button>
</div>
<div class="table-wrapper">
    <table class="items data table"
           id="overview-table-questions">
        <caption class="table-caption"><?= $block->escapeHtml(__('Questions list')); ?></caption>
        <thead>
            <tr>
                <th class="col id" scope="col"><?= $block->escapeHtml(__('Id')); ?></th>
                <th class="col name" scope="col"><?= $block->escapeHtml(__('Name')); ?></th>
                <th class="col content-text" scope="col"><?= $block->escapeHtml(__('Content')); ?></th>
                <th class="col creation-at" scope="col"><?= $block->escapeHtml(__('Creation time')); ?></th>
                <th class="col store-id" scope="col"><?= $block->escapeHtml(__('Store id')); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($questions as $question) : ?>
                <tr>
                    <td><?=$question->getData('question_id') ?></td>
                    <td><?=$question->getData('name') ?></td>
                    <td><?=$question->getData('content') ?></td>
                    <td><?=$question->getData('creation_time') ?></td>
                    <td><?=$question->getData('store_id') ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>